.footer {
  background-color: $black;
  padding-top: 46px;
  &-main {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 0 192px;
  }
  &-left {
  }
  &-logo {
    width: 142.15px;
    overflow: hidden;
    margin-bottom: 31px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &-title {
    display: block;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
    font-weight: 400;
    margin-bottom: 40px;
    max-width: 265px;
  }
  &-social {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0 11px;
  }
  &-right {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 0 84px;
  }
  &-heading {
    font-size: 15px;
    line-height: 175.78%;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 30px;
  }
  &-column {
    max-width: 238px;
    margin-bottom: 29px;
    &:nth-child(3) {
      //  transform: translateY(110px);
      padding-top: 100px;
      max-width: 150px;
    }
  }
  &-link {
    color: #ffffff;
    font-size: 15px;
    line-height: 175.78%;
  }
  &-bottom {
    background-color: #000000;
    padding: 13px 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    span {
      font-size: 12px;
      line-height: calc(15 / 12);
      font-weight: 400;
      color: #ffffff;
    }
  }
  &-privacy {
    span {
      color: $color1;
    }
  }
}
@media screen and (max-width: 1279px) {
  .footer-main {
    gap: 0 160px;
  }
}
@media screen and (max-width: 1023px) {
  .footer-main {
    gap: 0 100px;
  }
  .footer-right {
    gap: 0 50px;
  }
  .footer-heading {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 767px) {
  .footer-main {
    flex-direction: column;
    gap: 10px;
  }
  .footer-right {
    flex-direction: column;
    // gap: 10px 0;
  }
  .footer-heading {
    margin-bottom: 10px;
  }
  .footer-title {
    margin-bottom: 20px;
  }
  .footer-column:nth-child(3) {
    padding-top: 0px;
  }
  .footer-bottom {
    flex-direction: column;
    gap: 10px 0;
    padding: 13px 50px;
  }
}
