.header {
  &-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0 240px;
    padding: 29px 0;
  }
  &-logo {
    width: 160px;
    height: 38px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
@media screen and (max-width: 1279px) {
  .header-main {
    padding: 15px 0;
  }
}
@media screen and (max-width: 767px) {
  .header-main {
    gap: 0 0;
  }
}
